.Login_Layout_Background {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #1b1f31;
}
.Login {
  width: 50%;
  display: flex;
  border-radius: 8px;
  padding: 30px 30px;
  background-color: white;
  justify-content: space-between;
}

.Login_form {
  width: 50%;
}
.Login_img {
  width: 315px;
  height: 300px;
}

.Login_btn {
  border: none;
  color: white;
  margin-top: 15px;
  padding: 10px 25px;
  border-radius: 4px;
  background-color: #246dc6;
}
.Login_Remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.Register_Forgot {
  color: #246dc6;
}
.Login_img_div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
