.Forgot_Layout_Background {
  height: 100vh;
  background-color: #1b1f31;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Forgot {
  text-align: center;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
}

.Forgot_img {
  height: 200px;
  width: 250px;
}

.Forgot_password {
  color: white;
  background-color: #246dc6;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 4px;
}
