body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .login-container {
    background: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 60%;
    text-align: center;
    } */

.login-container h2 {
  font-size: 24px;
}

.form-group {
  margin: 10px 0;
}

.form-group label {
  display: block;
  text-align: left;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group .date-input {
  display: flex;
}

.form-group .date-input input {
  width: 48%;
  margin-right: 2%;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.Name_AcCode {
  display: flex;
  gap: 20px;
}

.email_number {
  display: flex;
  gap: 20px;
}

.Date_role {
  display: flex;
  gap: 20px;
}
.customer_table {
  min-width: 300px;
  margin: auto;
  width: 90%;
}

.Customer {
  display: flex;
  justify-content: space-between;
}

.Customer_Model {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  box-shadow: 24px;
  padding: 4px;
}
